/*
	1)买卖编辑控件table表
	2)基金盘口显示
*/
//------------------------------------begin----------------------------------------------------
//--------------------------------------end----------------------------------------------------

//------------------------------------begin----------------------------------------------------
.table_mm
{
	margin-left:10px
}

.table_mm>tr
{
	height:14px;
}
.table_mm>tr>td:nth-child(1)
{
	text-align:right;
	padding-right:6px;
	width:60px;
}

.table_mm>tr>td:nth-child(2)
{
	text-align:left;
}

//--------------------------------------end----------------------------------------------------

//------------------------------------begin基金盘口显示----------------------------------------------------
.jj_chart
{
	width:170px;
	-ctrl-lua-script: "bp://jjchart.lua";
}

.jj_chart>tr
{
	height:15px;
}

.jj_chart>tr>td:nth-child(1)
{
	text-align:right;
	padding-right:2px;
	width:80px;
}

.jj_chart>tr>td:nth-child(2)
{
	text-align:right;
	padding-right:2px;
	width:90px;
}

//--------------------------------------end基金盘口显示----------------------------------------------------

//---begin HTML 个性化表格控件-----

/* style block defining vertical scrollbar */
@set my-v-scrollbar
{
  :root {
    background:#FFF; /* background of the scrollbar itself */
  }
  .prev 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-v-scroll-prev.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat; 
  }
  
  .next 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-v-scroll-next.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat; 
  }
  
  .base,
  .next-page, 
  .prev-page 
  { 
    background-image:url( images/sb-scroll-back.png ); 
    background-position:5px 5px 5px 5px; /*left top right bottom offsets*/
    background-repeat:expand; 
  }
  .slider 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-scroll-slider.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat; 
  }
  
  .next:disabled, .slider:disabled, 
  .prev:disabled  { height:0; border:none; foreground-image:none; }
  
  .base:disabled
  {
    background-image:url( images/sb-scroll-base.png ); 
    background-repeat:repeat; 
    background-position:0 0 0 0;
  }
    
  .next:hover,   .slider:hover, 
  .prev:hover     { background-color: #EEE; }
  
  .next:active,  .slider:active, 
  .prev:active    { background-color: #FFF; }
  
  .base { width: 15px; } /* explicit declaration of its width */
  .corner { background-color: transparent; }
  
}

/* style block defining horizontal scrollbar */
@set my-h-scrollbar
{
  .prev 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-h-scroll-prev.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat;
    width:system-scrollbar-width;
  }
  .next 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-h-scroll-next.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat; 
    width:system-scrollbar-width;
  }
  .next-page, 
  .prev-page, .base 
  { 
    background-image:url( images/sb-scroll-back.png ); 
    background-position:5px 5px 5px 5px; /*left top right bottom offsets*/
    background-repeat:expand; 
  }
 
  .slider 
  { 
    border:1px solid #AAA; 
    foreground-image:url( images/sb-scroll-slider.png ); 
    foreground-position:50% 50%;
    foreground-repeat:no-repeat; 
  }
  
  .next:disabled, .slider:disabled, 
  .prev:disabled  { foreground-image:none; border:none; foreground-image:none; width:0; }

  .base:disabled
  {
    background-image:url( images/sb-scroll-base.png ); 
    background-repeat:repeat; 
    background-position:0 0 0 0;
  }  
  
  .next:hover,   .slider:hover, 
  .prev:hover     { background-color: #EEE; }
  
  .next:active,  .slider:active, 
  .prev:active    { background-color: #FFF; }
  
  .base { height: 15px; } /* explicit declaration of its height */
  
}

.biaoge 
{ 
  vertical-scrollbar: my-v-scrollbar;
  horizontal-scrollbar: my-h-scrollbar;
  overflow: auto;
background:white;
border:1px solid #bdbccc; 
width:100%%;
height:100%%;
behavior:grid;
overflow:auto;
flow: table-fixed;
font-family:"Verdana"; 
font-size:9pt;  
border-spacing:0;
-ingorekey:1;
}

.biaoge th 
{ 
color: white;
font-family:"Century Gothic","Verdana"; 
font-size:14pt; 
border-right:1px solid silver;
border-bottom:1px solid silver;
padding:4px; 
background-color:#AAA; 
}

.biaoge th:hover 
{ 
color: #ffe598;
}

.biaoge tr {color:black;}

.biaoge tr:current
{ 
	background-color:#bdbccc; 
}
.biaoge td 
{ 
padding:2px; 
border-right:1px solid silver;
border-bottom:1px solid silver;
text-align:center;
}
//-------end--HTML--个性化表格控件-----
