/*
	用户自定义控件
	1）买卖盘控件
	2)tab标签
	3)标签+列表组合控件
	4)spin控件
	5)编辑控件
	6)组合框控件
	7)日期控件
	
*/
//------------------------------------begin----------------------------------------------------
//--------------------------------------end----------------------------------------------------
//------------------------------------begin买卖盘----------------------------------------------------
.business
{
	-ctrl-lua-script: "bp://business.lua";
	background-color: #CCFFCC;
	color:red;
	height:200px;
	width:220px;
	border:0px solid silver;
}
//--------------------------------------end买卖盘----------------------------------------------------

//------------------------------------begintab标签----------------------------------------------------
.tab
{
	background-color:#CCFFCC;
	height:22px; 
	border:0px solid silver;
	margin-top:4px;	
	display:block;
}
//--------------------------------------endtab标签----------------------------------------------------
.querytable
{
	-ctrl-lua-script: "bp://querytable.lua";
	-hidenodata: true;
	display:none;
}
//------------------------------------begin标签+列表----------------------------------------------------
.tabswitch
{
	-ctrl-lua-script: "bp://tabswitch.lua";
}

.tabswitch >  [panel-name]
{
	width:  100%%;
	height: 100%%;
	margin-top:-2px;
}
//--------------------------------------end标签+列表----------------------------------------------------
//------------------------------------spin控件begin----------------------------------------------------
.spin
{
	height:18px;
	width:16px;
	-ctrl-lua-script: "bp://spin.lua";
}
//--------------------------------------spin控件end----------------------------------------------------
//------------------------------------编辑控件begin----------------------------------------------------
.hxedit
{
	height:18px;
	width:70px;
	-ctrl-lua-script: "bp://hxedit.lua";
}
//--------------------------------------编辑控件end----------------------------------------------------
//------------------------------------组合框控件begin----------------------------------------------------
.combo
{
	-ctrl-lua-script: "bp://combo.lua";
}
//-------------------------------------组合框控件-end----------------------------------------------------

//-------------------------------------ie begin----------------------------------------------------
.iebrowser
{
	-ctrl-lua-script: "bp://iebrowser.lua";
}
//-------------------------------------ie end----------------------------------------------------

//-------------------------------------ie begin----------------------------------------------------
.datetimectrl
{
	height:20px;
	width:108px;
	-ctrl-lua-script: "bp://datetimectrl.lua";
}
//-------------------------------------ie end----------------------------------------------------